.topper {
  background: #7152ce url("../../assets/images/home3.309907f5a7e58d11b1f1.svg");
  padding: 5rem;
  h1 {
    margin: 0;
    font-size: 3rem;
    span {
      color: var(--background-color);
    }
  }
  .topper-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    .link {
      color: #5124d7;
      cursor: pointer;
      &:hover {
        color: #a088e8;
      }
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
    .greater {
      font-size: 1.2rem;
    }
  }
}

.about-top {
  padding: 4rem;
  background: url("../../assets/images/about-us-header.png");
  background-position: center;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  position: relative;
  .about-content {
    .about-h1 {
      margin: 0;
      margin-bottom: 20px;
      text-align: left;
      font-size: 4rem;
      line-height: 50px;
      span {
        color: var(--background-color);
      }
    }
    p {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--background-color);
      margin: 0;
      color: black;
      line-height: 35px;
    }
  }
  .stats-box-main {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    animation: moveStat 3s linear infinite;
    margin-top: 13%;
    position: relative;
    .circle-content{
      position: absolute;
    }
    @keyframes moveStat {
      0%,
      100% {
        transform: translateY(5%);
      }
      50% {
        transform: translateY(calc(-5%));
      }
    }
    .stat-circle {
      background: url("../../assets/images/about-counter-bg.png");
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-repeat: no-repeat;
      height: 25vh;
      width: 12%;
      color: var(--background-color);
      div {
        h2 {
          margin: 0;
          color: black;
          text-align: center;
        }
      }
      h1 {
        margin: 0;
        text-align: center;
        font-size: 1.1rem;
      }
    }
  }
}

.about-sec1 {
  background: var(--background-color)
    url("../../assets/images/aside-bottom-img.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7rem;
  gap: 3rem;
  color: white;
  .head-top {
    color: white;
    position: absolute;
    top: 12vh;
  }
  div {
    img {
      height: 30vh;
      border-radius: 1rem;
      border: 0.2rem solid rgba(255, 255, 0, 0.829);
      animation: moveImage2 3s linear infinite;
      margin: 10px;
    }
    .img-about-below {
      width: 43%;
    }
    @keyframes moveImage2 {
      0%,
      100% {
        transform: translateY(-10%);
      }
      50% {
        transform: translateY(10%);
      }
    }
  }
  .content-about-box-sec1 {
    h1 {
      color: white;
      font-size: var(--font-size-h1);
      span {
        color: yellow;
      }
    }
    p {
      font-size: var(--font-size-p);
      line-height: var(--line-height-p);
    }
  }
}

.directors-message {
  background: var(--background-url);
  padding: 7rem;
  h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    span {
      color: var(--background-color);
    }
  }
  p {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
  }
}

.about-sec2 {
  padding: 5rem 7rem;
  background: url("../../assets/images/about-us-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      background: #f6f2fc;
      border-radius: 1rem;
      margin: 2rem;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      padding: 2rem;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        position: absolute;
        top: -2.5rem;
        width: 20%;
      }
      h4 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      p {
        line-height: var(--line-height-p);
        text-align: center;
      }
    }

    li {
      list-style: none;
      text-align: left;
      margin: 20px;
      font-size: 1.2rem;
      line-height: 40px;
    }
  }
}

.about-sec3 {
  background: var(--background-color)
    url("../../assets/images/aside-bottom-img.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7rem;
  gap: 15rem;
  color: white;
  h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    span {
      color: yellow;
    }
  }
  p {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
  }

  img {
    width: 20rem;
    height: 15rem;
    margin-bottom: 10px;
    border-radius: 1rem;
    border: 0.2rem solid yellow;
    animation: moveImage 3s linear infinite;
  }

  @keyframes moveImage {
    0%,
    100% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(calc(-15%));
    }
  }
}

.instructions {
  background: var(--background-url);
  padding: 7rem;
  h1 {
    font-size: var(--font-size-h1);
    span {
      color: var(--background-color);
    }
  }
  li {
    font-size: var(--font-size-other);
    line-height: var(--line-height-p);
  }
}

// @media (min-height : 1000px) and (min-width : 1000px){
//   .about-top .stats-box-main {
//     margin-top: 22%;
//   }
//   .about-top .stats-box-main .stat-circle h1 {
//     margin-bottom: 100px;
//     margin-left: -27px;

//   }
//   .about-top .stats-box-main .stat-circle h2 {
//     margin-right: 35px;
//   }
//   .about-sec2 {
//     background-size: cover;
//   }
// }

@media (max-width: 768px) {
  .about-top {
    padding: 2rem 1.5rem;
    background-size: contain;
  }
  .about-top .about-content .about-h1 {
    font-size: var(--mobile-scree-h1);
  }
  .about-sec1 div img {
    height: 27vh;
    margin: 8px;
}
  .about-top .about-content p {
    font-size: 1.3rem;
  }
  .about-top .stats-box-main {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 93%;
  }
  .about-top .stats-box-main .stat-circle {
    transform: scale(2);
    background-size: contain;
    h1 {
      font-size: 0.4rem;
      margin-left: 0;
      margin-bottom: 125px;
    }
    h2 {
      margin-right: 0;
      font-size: 0.5rem;
    }
  }
  .about-sec1 {
    padding: 2rem 1.5rem 4rem 1.5rem;
    flex-direction: column;
    gap: 1rem;
    .content-about-box-sec1 h1 {
      font-size: var(--mobile-scree-h1);
    }
    .content-about-box-sec1 p {
      font-size: var(--mobile-font-size-p);
      line-height: var(--mobile-line-height-p);
    }
  }
  .directors-message {
    padding: 2rem 1.5rem;
    h1 {
      font-size: var(--mobile-scree-h1);
    }
    p {
      font-size: var(--mobile-font-size-p);
      line-height: var(--mobile-line-height-p);
    }
  }
  .about-sec2 {
    background-size: cover;
    padding: 5.5rem 1.5rem 2.5rem 1.5rem;
    div {
      flex-direction: column;
      div {
        width: 80%;
        margin: 0;
        margin-bottom: 50px;
        img {
          top: -1.8rem;
          width: 25%;
        }
      }
    }
  }

  .about-sec3 {
    flex-direction: column;
    padding: 5rem 1.5rem;
    justify-content: center;
    gap: 2rem;
    h1 {
      font-size: var(--mobile-scree-h1);
    }
    p {
      font-size: var(--mobile-font-size-p);
      line-height: var(--mobile-line-height-p);
    }
    @keyframes moveImage {
      0%,
      100% {
        transform: translateY(10%);
      }
      50% {
        transform: translateY(calc(-5%));
      }
    }
  }

  .instructions {
    padding: 2rem 1.5rem;
    h1 {
      font-size: var(--mobile-scree-h1);
    }
    li {
      font-size: var(--mobile-font-size-p);
      line-height: var(--mobile-line-height-p);
    }
  }
}
