.main-container {
  background: #6d3fb1 url("../../assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  .hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      padding: 3rem 7rem;
    }
    .content-hero {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h1 {
        font-size: 4rem;
        margin: 0;  
        color: white;
         span{
          color: yellow;
         }
      }
      p {
        font-size: 1.6rem;
        margin: 15px;
        margin-right: 132px;
      }
      .count1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
        .count-its-div{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 3rem;
          margin-bottom: 100px;
        }
        span {
          font-size: 3rem;
          color: yellow;
        }
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
    img {
      height: 25rem;
      padding-right: 3rem;
    }
  }
}
@media (max-width: 400px) {
  .main-container{
    background-position: 100%;
  }
  .main-container .hero-main .hero-box {
    padding: 3rem 1rem;
}
  .main-container .hero-main img {
    height: 13rem;
    padding: 0;
}
.main-container .hero-main .content-hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.main-container .hero-main .content-hero p {
  font-size: 1.3rem;
   margin: 0; 
   margin-right: 0; 
   margin-bottom: 20px;
}
.main-container .hero-main .content-hero .count1 span {
  font-size: 2rem;
}
.main-container .hero-main .content-hero .count1 .count-its-div {
  gap: 1rem;
   margin-bottom: 0px; 
}
.main-container .hero-main .content-hero .count1 {
   gap: 0rem; 
   margin-bottom: 15px;
}
.girl{
  display: none;
}
}